<%= form_with(model: vrasset) do |form| %>
  <% if vrasset.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vrasset.errors.count, "error") %> prohibited this vrasset from being saved:</h2>

      <ul>
        <% vrasset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :file, style: "display: block" %>
    <%= form.file_field :file%>
  </div>  

  <div>
    <%= form.submit %>
  </div>
<% end %>
