<%= form_with(model: vrasset) do |form| %>
  <% if vrasset.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vrasset.errors.count, "error") %> prohibited this vrasset from being saved:</h2>

      <ul>
        <% vrasset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col">
      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_field :description, class:"form-control" %>
      </div>

      <%# File input - CUAP %>
      <div class="mb-3">
        <%= form.label :file, class: "form-label" %>
        <%= form.file_field :file, class:"form-control", accept:'.cuap' %>
      </div>  

      <%# Image input - https://stackoverflow.com/questions/10896416/how-to-limit-only-images-to-be-uploaded-through-file-field-tag %>
      <div class="mb-3">
        <%= form.label :image, class: "form-label"%>
        <%= form.file_field :image, class:"form-control", accept:'image/*' %> 
      </div> 

      <div class="mb-3">
        <%= form.submit 'Submit', class:"btn btn-success"  %>
      </div>
    </div>
  </div>  
<% end %>
