<div id="<%= dom_id vrasset %>">
  <p>
    <strong>Title:</strong>
    <%= vrasset.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vrasset.description %>
  </p>

  <% if vrasset.image.attached? %>
    <%= image_tag vrasset.image, class:"ratio ratio-1x1" %>
  <% end %>

  <% if vrasset.file.attached? %>
    <p>
      <strong>File:</strong>
      <%# If the user is a developer then allow them to download the file otherwise restrict the download view %>
      <% if user_developer_or_admin? %>
        <%= link_to vrasset.file.filename, rails_blob_path(vrasset.file, disposition: 'attachment') %>
      <% else %>
        <%= vrasset.file.filename %>
      <% end %>
    </p>
  <% end %>
</div>
