<div id="<%= dom_id advertisement %>">

  <h5 class="card-title"><%= advertisement.title %></h5>

  <p>
    <strong>Description:</strong>
    <%= advertisement.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= advertisement.url %>
  </p>

  <%# if there is a file attached %>
  <% if advertisement.file.attached? %>
    <%# if the attached file is an image, display the image%>
    <% if advertisement.file.image? %>
      <%= image_tag(advertisement.file , class:"ratio ratio-1x1")%>
    <%end%>
  <% end %>

</div>
