<%= form_with(model: advertisement) do |form| %>
  <% if advertisement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

      <ul>
        <% advertisement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col">
      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_field :description, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :url, class: "form-label" %>
        <%= form.text_field :url, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :file, class: "form-label" %>
        <%= form.file_field :file, class:"form-control" %>
      </div>  

      <div>
        <%= form.submit 'Submit', class:"btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
